* {
	margin: 0;
	padding: 0;
}
:root {
	--bg-color: black;
	--txt-color: white;
}
html {
	background-color: var(--bg-color);
	padding: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
	color: white;
	font-weight: 100;
	font-family: "Consolas";
	padding: 1rem;
}
.button {
	border: solid var(--txt-color) 1px;
	background-color: var(--bg-color);
	color: var(--txt-color);
	padding: 1rem;
    margin: 0.5rem;
	transition:
		background-color ease-in-out 0.3s,
		color ease-in-out 0.3s;

}
.button:hover {
	color: var(--bg-color);
	background-color: var(--txt-color);
}
header {
	display: flex;
	justify-content: space-around;
    align-items: center;
    height: 150px;
    border: solid white 1px;
}
.strategySelector {
	display: flex;
	flex-direction: column;
}

main {
    margin: 2rem 0 0 0;
    border: solid white 1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#grid {
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
}

.gridRow {
    display: flex;
}
.gridCell {
    height: 70px;
    width: 70px;
    border: solid white 1px;
}